<!-- the banner starts here -->
<div class="container">
    <div class="row mt-3">
        <div class="col-md-3">
            <a href="/">
                <img src="../../assets/indiaLogo.jpg" alt="" class="img-fluid " height="250" width="300" max-width="100%" />
            </a>
        </div>
        <div class="col-md-6" style="text-align: center;">
            <h3 style="color: #203354;">
                सूक्ष्म , लघु और मध्यम उद्यम पंजीकरण कंसल्टेंसी
            </h3>
            <h4 style="color: #ff0000;">
                Micro, Small & Medium Enterprise Registration Consultancy
            </h4>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>